---
layout:  default
title:   Projects
hero:    bsgbryan
tagline: Passionate father, rabid technologist, browncoat
type:    home
---
<div class="card-deck row">
  {% for project in site.data.projects %}
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ project.name }}</h4>
          <p class="card-text">{{ project.pitch }}</p>
          <div class="row">
            {% for action in project.actions %}
              <a
                href="{{ action.href }}"
                class="col-6 fab fa-3x fa-{{ action.type }}"
                target="_blank"
                aria-label="{{ action.label }}"
                title="{{ action.label }}"
              ></a>
            {% endfor %}
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ project.type }}</small>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
