/*
 * COLOR THEME:
 * https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.4433333333333333,0.44333333333339164,0.7,0.8333333333333333,0.8333333333333712,1,0.7333333333333333,0.7333333333333333,1,0.7,0.6407258064514811,0.37333333333333324,1,0.9516129032256989,0.7333333333333333&swatchOrder=0,1,2,3,4
 */

 hr.my-4 {
   border-top: 1px solid rgba(208, 208, 240, 0.25);
 }

 hr.my-2 {
   border-top: 1px solid rgba(208, 208, 240, 0.25);
 }

 #content hr {
   border-top: 1px solid rgba(208, 208, 240, 0.25);
 }

.jumbotron {
  background-color: #FFF7FF;
  box-shadow: 2px 4px 0 #FFE3D4, 4px 8px 0 #FFF3BB;
  margin-top: 2rem;
}

.jumbotron h1.display-1 {
  text-shadow: 2px 4px 0 #bbf, 4px 8px 0 #ddf;
  color: #2F2F40;
}

.jumbotron p.lead {
  letter-spacing: 1px;
  color: #B2A35F;
}

.nav .nav-link {
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #8CB7DD;
}

.nav .nav-link.active {
  color: #AED9FF;
}

.footer.container {
  margin-top: 4rem;
  margin-bottom: 2em;
}

.footer .fa:hover {
  text-decoration: none;
}

.card-deck {
  margin-bottom: 2rem;
}

.card {
  background-color: #EFFDFF;
  box-shadow: 1.5px 3px 0 #FFE3D4, 3px 6px 0 #FFF3BB;
  margin-top: 2rem;
  border: none;
}

.card p.card-text {
  color: #7171B2;
}

.card h4.card-title {
  color: #2F2F40;
  text-shadow: 1px 2px 0 rgba(187,187,255, 0.5), 2px 4px 0 rgba(221,221,255, 0.5);
}

.card-footer {
  border-top: none;
  background-color: rgba(255, 243, 187, 0.1);
}

.card .card-footer small.text-muted {
  color: #93CC81!important;
  text-transform: uppercase;
}

span.btn-primary {
  color: #AED9FF;
}

span.btn-primary:hover {
  cursor: default;
}

.btn-primary {
  background-color: transparent;
  border-color: #AED9FF;
  color: #8CB7DD;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: #AED9FF;
  color: #8CB7DD;
}

.btn-primary:active {
  background-color: transparent;
  border-color: #AED9FF;
  color: #8CB7DD;
}

.btn-primary:visited {
  background-color: transparent;
  border-color: #AED9FF;
  color: #8CB7DD;
}

.btn-primary:focus {
  box-shadow: none;
}

.footer a.fa {
  text-shadow: 0.5px 1px 0 #FFE3D4, 1px 2px 0 #FFF3BB;
  color: #7171B2;
}

#content {
  margin-top: 2rem;
}

#content h1 {
  text-shadow: 1px 2px 0 #bbf, 2px 4px 0 #ddf;
  color: #2F2F40;
}

#content p {
  color: #7171B2;
}

#content p a {
  color: #8CB7DD;
}

#content p + h1 {
  margin-top: 2rem;
}

@media (max-width: 575px) {
  .jumbotron h1.display-1 {
    font-size: 4rem;
  }
}
