---
---

#content,
#instructions

  &.mintut.col-md-9
    padding: 0
    max-width: none !important
    
    iframe
      border: none
      border-radius: 0.25rem

@media (min-width: 1024px)
  #content.mintut.col-md-9,
  #instructions.mintut.col-md-9
    width: 1024px
    height: 768px

    iframe
      width: 1024px
      height: 768px

@media (max-width: 1023px)
  #content.mintut.col-md-9,
  #instructions.mintut.col-md-9
    width: 625px
    height: 500px
    overflow: hidden

    iframe
      width: 625px
      height: 500px

@media (max-device-width: 414px)
  #content.mintut.col-md-9,
  #instructions.mintut.col-md-9
    width: 414px
    height: 425px

    iframe
      width: 414px
      height: 425px

@media (max-device-width: 411px)
  #content.mintut.col-md-9,
  #instructions.mintut.col-md-9
    width: 411px
    height: 308.25px

    iframe
      width: 411px
      height: 308.25px

@media (max-device-width: 375px)
  #content.mintut.col-md-9,
  #instructions.mintut.col-md-9
    width: 375px
    height: 380px

    iframe
      width: 375px
      height: 380px

@media (max-device-width: 320px)
  #content.mintut.col-md-9,
  #instructions.mintut.col-md-9
    width: 320px
    height: 340px

    iframe
      width: 320px
      height: 340px