---
---

@import url("https://fonts.googleapis.com/css?family=Orbitron");
// @import url('/assets/helpers.css');
@import url('/assets/core.css');
@import url('/assets/slideshow.css');

@mixin glow($type, $color, $distance: 2px, $opacity: 1, $radius: 1px) {
  $pos:   $radius;
  $neg: -($radius);

  @if $type == text {
    text-shadow: $neg $neg $distance rgba($color, $opacity),
                 $pos $neg $distance rgba($color, $opacity),
                 $neg $pos $distance rgba($color, $opacity),
                 $pos $pos $distance rgba($color, $opacity);
  }

  @if $type == border {
    box-shadow: $neg $neg $distance rgba($color, $opacity),
                $pos $neg $distance rgba($color, $opacity),
                $neg $pos $distance rgba($color, $opacity),
                $pos $pos $distance rgba($color, $opacity),
          inset -1px -1px 4px       rgba($color, $opacity),
          inset  1px -1px 4px       rgba($color, $opacity),
          inset -1px  1px 4px       rgba($color, $opacity),
          inset  1px  1px 4px       rgba($color, $opacity);
  }
}

@function shade($color, $mode, $amount: 30%) {
  @if $mode == lighten {
    @return lighten($color, $amount);
  } @else if $mode == darken {
    @return darken($color, $amount);
  }
  
  @return $color;
}

$orange:       #DF740C;
$sweet-yellow: #FFE64D;
$pane:         #E6FFFF;
$cyan:         #6FC3DF;
$basestar:     #0C141F;
$pink:         #E83E8C;

$light-orange:       shade($orange,       lighten, 30%);
$light-sweet-yellow: shade($sweet-yellow, lighten, 30%);
$light-cyan:         shade($cyan,         lighten, 30%);
$light-basestar:     shade($basestar,     lighten, 30%);
$light-pink:         shade($pink,         lighten, 30%);

$dark-sweet-yellow: shade($sweet-yellow, darken, 30%);
$dark-pink:         shade($pink,         darken, 30%);

body {
  background-color: black;
}

img:not(.emoji) {
  @include glow('border', $cyan, 4px, 0.7);
}

hr.my-4,
hr.my-2,
#content hr {
  display: none;
}

.jumbotron h1.display-1,
#content h1,
#content h2,
#content h3,
#content h5
.card-deck .card h4.card-title {
  font-family: monospace;
}

.jumbotron .lead,
#content p,
#content li {
  font-family: monospace;
  font-size:   1.25rem;
}

.jumbotron {

  h1.display-1 {
    font-family:  TR2N, sans-serif;
    color:       $light-cyan;
    @include      glow('text', $cyan, 8px);
  }

  p.lead {
    color:       $light-basestar;
    font-family:  monospace;
  }
}

.nav {
  margin-bottom: 0;

  .nav-link {
    color:                   $sweet-yellow;
    font-family:              Decovar, sans-serif;
    font-variation-settings: 'SKLA' 1000, 'TRMK' 1000, 'TRMA' 1000, 'TRMD' 1000;

    @include glow('text', $dark-sweet-yellow, 1px);

    &.active {
      color: $light-sweet-yellow;
    }
  }
}

.footer {

  a.fab {
    color: $light-basestar;
  }
}

.card-deck {

  .card {
    background-color: $basestar;
    border:            1px solid $light-cyan;

    @include glow('border', $cyan, 4px);

    p.card-text {
      color:       $pane;
      font-family:  monospace;
    }

    h4.card-title {
      color:       $pane;
      @include      glow('text', $pane, 4px);
      font-family:  TR2N;
    }
  }

  .card-footer {

    small.text-muted {
      color: black !important;
      @include glow(text, lighten($basestar, 25%), 1px);
    }
  }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgba($orange, 0.2);
  border-color:    $light-orange;
  color:           $orange !important;
  font-family:      Decovar;
  @include          glow('border', $orange, 4px, 0.7);

  &:focus {
    box-shadow: none;
  }
}

#content,
#instructions {

  h1, h2, h3, h4, h5 {
    color:       lighten($pane, 10%);
    @include     glow('text', $pane, 4px, 0.7);
    font-family: TR2N;
  }
  
  h1 {
    margin-bottom: 1rem;

    & + h2 strong {
      font-family: Decovar;
    }

    &#experience ~ h2 strong {
      font-family:  monospace;
      color:       $light-cyan;

      @include glow(text, $cyan, 4px);
    }

    &#personal-projects ~ h2 {

      strong {
        font-family: Decovar;
      }

      code {
        font-family: monospace;
      }
    }

  }

  h2 {

    & + h3 {
      font-family: monospace;
      color:       lighten($basestar, 40%);
      text-shadow: none;

      em {
        color: lighten($basestar, 45%);
      }
    }

    code {
      font-family: TR2N;
      background-color: transparent;
      @include glow(text, $dark-pink, 1px);
    }

    strong {
      font-family:             Decovar;
      font-variation-settings: 'SKLA' 1000, 'TRMK' 1000, 'TRMA' 1000, 'TRMD' 1000;
    }
  }

  h3 {

    & + ul > li {
      font-family: monospace;

      ul li {
        color: lighten($pane, 2%);
      }
    }
  }

  p,
  li,
  table {
    color: $pane;
  }

  abbr[title] {
    color: darken($pane, 5%);
  }

  a {
    color: darken($pane, 10%);
  }

  .language-sh > .highlight {
    background-color: $basestar;
  }

  .language-sh .highlight,
  p > code.highlighter-rouge,
  li > code.highlighter-rouge {
    color:            $light-pink;
    background-color: transparent;
    @include          glow('text', $pink);

    .highlight {
      border: none;
      background-color: transparent;
    }
  }
  
  #tools + table,
  #languages + table {

    td {
      font-family: monospace;

      a {
        color: darken($pane, 10%);
      }
    }
  }
}

#content {
  background-color: rgba($cyan, 0.2);
  @include          glow('border', $pane, 4px, 0.7);
}

@font-face { // TR2N
  font-family: 'TR2N';
  src: url('/assets/Tr2n.ttf')
       format('truetype');
}

@font-face { // Decovar
  font-family: 'Decovar';
  src: url('/assets/DecovarAlpha-VF.ttf')
       format('truetype');
}