---
---

@import url("https://fonts.googleapis.com/css?family=Orbitron");

$page-shadow-front-color: rgb(187, 187, 255);
$page-shadow-back-color:  rgb(221, 221, 255);

$heading-shadow-front-color: transparentize($page-shadow-front-color, 0.5);
$heading-shadow-back-color:  transparentize($page-shadow-back-color,  0.5);

$box-shadow-front-color: rgb(255,227,212);
$box-shadow-back-color:  rgb(255,243,187);

$img-shadow-front-color: rgb(153, 204, 255);
$img-shadow-back-color:  rgb(221, 238, 255);

$available-link-color:   rgb(91,   89,  63);
$unavailable-link-color: rgb(144, 140, 103);
$button-border-color:    $unavailable-link-color;
$resume-city-color:      rgb(63, 89, 63);

$primary-text-color: rgb( 18,  18, 45);
$heading-text-color: rgb( 47,  47, 64);
$lead-text-color:    rgb(178, 163, 95);

$base-vertical-whitespace: 2rem;

$base-letter-spacing: 1px;

$base-syntax-color: rgb(64, 64, 64);

$slightly-transparent: .7;
$very-transparent:     .2;

$orange:       #DF740C;
$sweet-yellow: #FFE64D;
$pane:         #E6FFFF;
$cyan:         #6FC3DF;
$basestar:     #0C141F;

$orange-text-glow: -1px -1px 4px rgba($orange, $slightly-transparent),
                    1px -1px 4px rgba($orange, $slightly-transparent),
                   -1px  1px 4px rgba($orange, $slightly-transparent),
                    1px  1px 4px rgba($orange, $slightly-transparent);

$sweet-yellow-text-glow: -1px -1px 4px rgba($sweet-yellow, $slightly-transparent),
                          1px -1px 4px rgba($sweet-yellow, $slightly-transparent),
                         -1px  1px 4px rgba($sweet-yellow, $slightly-transparent),
                          1px  1px 4px rgba($sweet-yellow, $slightly-transparent);

$pane-text-glow: -1px -1px 4px rgba($pane, $slightly-transparent),
                  1px -1px 4px rgba($pane, $slightly-transparent),
                 -1px  1px 4px rgba($pane, $slightly-transparent),
                  1px  1px 4px rgba($pane, $slightly-transparent);

$cyan-text-glow: -1px -1px 4px rgba($cyan, $slightly-transparent),
                  1px -1px 4px rgba($cyan, $slightly-transparent),
                 -1px  1px 4px rgba($cyan, $slightly-transparent),
                  1px  1px 4px rgba($cyan, $slightly-transparent);

$basestar-text-glow: -1px -1px 4px rgba($basestar, $slightly-transparent),
                      1px -1px 4px rgba($basestar, $slightly-transparent),
                     -1px  1px 4px rgba($basestar, $slightly-transparent),
                      1px  1px 4px rgba($basestar, $slightly-transparent);

$orange-box-glow: -1px -1px 4px rgba($orange, $slightly-transparent),
                   1px -1px 4px rgba($orange, $slightly-transparent),
                  -1px  1px 4px rgba($orange, $slightly-transparent),
                   1px  1px 4px rgba($orange, $slightly-transparent),
            inset -1px -1px 4px rgba($orange, $slightly-transparent),
            inset  1px -1px 4px rgba($orange, $slightly-transparent),
            inset -1px  1px 4px rgba($orange, $slightly-transparent),
            inset  1px  1px 4px rgba($orange, $slightly-transparent);

$sweet-yellow-box-glow: -1px -1px 4px rgba($sweet-yellow, $slightly-transparent),
                         1px -1px 4px rgba($sweet-yellow, $slightly-transparent),
                        -1px  1px 4px rgba($sweet-yellow, $slightly-transparent),
                         1px  1px 4px rgba($sweet-yellow, $slightly-transparent),
                  inset -1px -1px 4px rgba($sweet-yellow, $slightly-transparent),
                  inset  1px -1px 4px rgba($sweet-yellow, $slightly-transparent),
                  inset -1px  1px 4px rgba($sweet-yellow, $slightly-transparent),
                  inset  1px  1px 4px rgba($sweet-yellow, $slightly-transparent);

$pane-box-glow: -1px -1px 4px rgba($pane, $slightly-transparent),
                 1px -1px 4px rgba($pane, $slightly-transparent),
                -1px  1px 4px rgba($pane, $slightly-transparent),
                 1px  1px 4px rgba($pane, $slightly-transparent),
          inset -1px -1px 4px rgba($pane, $slightly-transparent),
          inset  1px -1px 4px rgba($pane, $slightly-transparent),
          inset -1px  1px 4px rgba($pane, $slightly-transparent),
          inset  1px  1px 4px rgba($pane, $slightly-transparent);

$cyan-box-glow: -1px -1px 4px rgba($cyan, $slightly-transparent),
                 1px -1px 4px rgba($cyan, $slightly-transparent),
                -1px  1px 4px rgba($cyan, $slightly-transparent),
                 1px  1px 4px rgba($cyan, $slightly-transparent),
          inset -1px -1px 4px rgba($cyan, $slightly-transparent),
          inset  1px -1px 4px rgba($cyan, $slightly-transparent),
          inset -1px  1px 4px rgba($cyan, $slightly-transparent),
          inset  1px  1px 4px rgba($cyan, $slightly-transparent);

$basestar-box-glow: -1px -1px 4px rgba($basestar, $slightly-transparent),
                     1px -1px 4px rgba($basestar, $slightly-transparent),
                    -1px  1px 4px rgba($basestar, $slightly-transparent),
                     1px  1px 4px rgba($basestar, $slightly-transparent),
              inset -1px -1px 4px rgba($basestar, $slightly-transparent),
              inset  1px -1px 4px rgba($basestar, $slightly-transparent),
              inset -1px  1px 4px rgba($basestar, $slightly-transparent),
              inset  1px  1px 4px rgba($basestar, $slightly-transparent);

body {
  background-color: black;
}

img:not(.emoji) {
  margin-top: $base-vertical-whitespace;
  margin-bottom: $base-vertical-whitespace;
  border-radius: 0.25rem;
  box-shadow: $cyan-text-glow;
}

hr.my-4,
hr.my-2,
#content hr {
  display: none;
}

.jumbotron h1.display-1,
#content h1,
#content h2,
#content h3,
#content h5
.card-deck .card h4.card-title {
  font-family: monospace;
}

.jumbotron .lead,
#content p,
#content li {
  font-family: monospace;
  font-size:   1.25rem;
}

.jumbotron {
  background-color: transparent;
  margin-top:       0;
  margin-bottom:    0;
  padding-bottom:   1rem;

  h1.display-1 {
    display:             flex;
    align-items:         center;
    justify-content:     center;
    font-family:         TR2N, sans-serif;
    text-transform:      uppercase;
    text-align:          center;
    line-height:         1;
    font-size:           10vw;
    margin:              0;
    width:               100%;
    height:              100%;
    transform:           translateZ(0);
    backface-visibility: hidden;
    color:               lighten($cyan, 20%);
    text-shadow:        $cyan-text-glow;
  }

  p.lead {
    letter-spacing: $base-letter-spacing;
    color:          lighten($basestar, 30%);
    text-align:     center;
    font-family:    monospace;
    margin-top:     2rem;
    margin-bottom:  2rem;
    font-size:      1.75rem;
  }
}

.nav {
  margin-bottom: 0;

  .nav-link {
    text-transform:           lowercase;
    letter-spacing:          $base-letter-spacing;
    color:                    darken($sweet-yellow, 10%);
    font-family: Decovar,     sans-serif;
    font-variation-settings: 'SKLA' 1000, 'TRMK' 1000, 'TRMA' 1000, 'TRMD' 1000;
    padding-top:              0;
    padding-bottom:           0;
    font-size:                1.75rem;
    font-weight:            900;

    text-shadow: -1px -1px 1px darken($sweet-yellow, 30%),
                 -1px  1px 1px darken($sweet-yellow, 30%),
                  1px -1px 1px darken($sweet-yellow, 30%),
                  1px  1px 1px darken($sweet-yellow, 30%);

    &.active {
      font-weight: 900;
      color:       lighten($sweet-yellow, 30%);
    }
  }
}

.footer {

  &.container {
    margin-top: $base-vertical-whitespace * 2;
    margin-bottom: $base-vertical-whitespace;
  }

  .fa:hover {
    text-decoration: none;
  }
}

.card-deck {
  margin-bottom: $base-vertical-whitespace;

  .card {
    background-color: $basestar;
    margin-top:       $base-vertical-whitespace + 1rem;
    border:           none;

    box-shadow: $cyan-box-glow;

    p.card-text {
      color:       $pane;
      font-family: monospace;
      font-size:   1.25rem;
    }

    h4.card-title {
      color:       $pane;
      text-shadow: $pane-text-glow;
      font-family: TR2N;
    }
  }

  .card-footer {
    border-top:       none;
    background-color: rgba(black, 0.15);

    small.text-muted {
      color:        black !important;
      text-transform: lowercase;
      font-weight:    900;
      text-shadow: -1px  1px 1px lighten($basestar, 25%),
                   -1px -1px 1px lighten($basestar, 25%),
                    1px -1px 1px lighten($basestar, 25%),
                    1px  1px 1px lighten($basestar, 25%);
    }
  }
}

span.btn-primary {
  color: $unavailable-link-color;

  &:hover {
    cursor: default;
  }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgba($orange, 0.2);
  border-color:     lighten($orange, 30%);
  color:           $orange;
  font-family:      Decovar;
  box-shadow:      $orange-box-glow;

  &:focus {
    box-shadow: none;
  }
}

.footer a.fa {
  color:      rgb(106, 106, 131);
  text-shadow: -2px 2px 1px rgba(black, $very-transparent);
}

#content,
#instructions {
  margin-top:    $base-vertical-whitespace + 1rem;
  padding:       $base-vertical-whitespace + 1rem;
  border-radius: 0.25rem;
  margin-top:    $base-vertical-whitespace + 1rem;
  border:        none;

  &.mintut.col-md-9 {
    padding:    0;
    width:   1024px;
    height:   768px;
    
    iframe {
      width:  100%;
      height: 100%;
      border: none;
      border-radius: 0.25rem;
    }
  }

  h1, h2, h3, h4, h5 {
    color:       lighten($pane, 10%);
    text-shadow: $pane-text-glow;
    font-family: TR2N;
    font-weight: 600;
  }
  
  h1 {
    margin-bottom: 1rem;

    & + h2 strong {
      margin-top:  0;
      font-family: Decovar;
    }

    &#experience ~ h2 strong {
      font-family: monospace;
      font-size:   2rem;
      color:       lighten($cyan, 20%);

      text-shadow: -1px -1px 4px $cyan,
                   -1px  1px 4px $cyan,
                    1px -1px 4px $cyan,
                    1px  1px 4px $cyan;
    }

    &#personal-projects ~ h2 {
      strong {
        font-family: Decovar;
      }

      code {
        font-family:    monospace;
        vertical-align: middle;
      }
    }

  }

  h2 {
    & > * {
      font-size: 1.5rem;
    }

    & + h3 {
      font-family:   monospace;
      margin-left:   1rem;
      margin-bottom:  .75rem;
      color:         lighten($basestar, 40%);
      text-shadow:   none;
      font-size:     1.25rem;

      em {
        color:      lighten($basestar, 45%);
        font-style: normal;
      }

      strong {
        margin-top: 1.5rem;
        display:    inline-block;

        & + code {
          color: lighten(#2f2f40, 35%);
        }
      }
    }

    code {
      font-family: TR2N;
      background-color: transparent;
      text-shadow: -1px -1px 1px darken(#e83e8c, 30%),
                   -1px  1px 1px darken(#e83e8c, 30%),
                    1px -1px 1px darken(#e83e8c, 30%),
                    1px  1px 1px darken(#e83e8c, 30%);
    }

    strong {
      font-family:             Decovar;
      font-variation-settings: 'SKLA' 1000, 'TRMK' 1000, 'TRMA' 1000, 'TRMD' 1000;
    }
  }

  h3 {
    margin-left: 0.5rem;

    & + ul
      > li {
        margin: 0.5rem 0;
      ul {
        list-style-type: circle;

        li {
          font-size: 1rem;
          color:     lighten($pane, 2%);
        }
      }
    }
  }

  em {
    font-style: oblique;
  }

  p,
  li,
  table {
    color: $pane;

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5 {
      margin-top: $base-vertical-whitespace;
    }
  }

  p {
    margin-left: 1rem;
  }

  abbr[title] {
    text-decoration: none;
    color: darken($pane, 5%);
  }

  a {
    color: darken($pane, 10%);
  }

  .language-sh {
    margin-top:    $base-vertical-whitespace;
    margin-bottom: $base-vertical-whitespace;
    margin-right: calc(-3rem - 1px);
    margin-left: calc(-3rem - 1px);

    .highlight {
      padding: 1rem 1.5rem;;

      .gp {
        color: lighten($base-syntax-color, 30%);
      }
    }
  }

  .language-sh > .highlight {
    background-color: $basestar;
  }

  .language-sh .highlight {
    margin-bottom: 0;
    padding:       0.5rem;
  }

  .language-sh .highlight,
  p > code.highlighter-rouge,
  li > code.highlighter-rouge {
    color:            #8080a2;
    background-color: $basestar;
    border: $pane-text-glow;

    .highlight {
      border: none;
      background-color: transparent;
    }
  }

  ol, ul {
    padding-left: 1rem;

    ul {
      padding-left: 1rem;
      list-style-type: disc;
    }
    
    & + h1 {
      margin-top: 4rem;
    }
  }
  
  #tools + table,
  #languages + table {
    width: 100%;
    margin-left: 1rem;

    td {
      width: 20%;
      font-family: monospace;
      font-size: 1rem;

      a {
        color: darken($pane, 10%);
      }
    }
  }
}

#content {
  background-color: rgba($cyan, 0.2);
  box-shadow: $pane-box-glow;
}


@media (max-width: 577px) {
  .jumbotron {
    h1.display-1 {
      font-size: 3rem;
    }
    
    p.lead {
      margin-top: 2rem;
    }
  }
    
  nav.nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  #content {
    border-radius: 0;
    padding: 2rem 1rem;
    border-top: 1px solid rgb(106, 106, 131);

    a {
      color: rgb(112, 101, 127);
    }

    .language-sh {
      margin-left:  -15px;
      margin-right: -15px;
      
      .highlight {
        padding: 0.5rem 0.25rem;
        margin-bottom: 0;
      }
    }
  }
}


@font-face { // TR2N
  font-family: 'TR2N';
  src: url('/assets/Tr2n.ttf')
       format('truetype');
}

@font-face { // Decovar
  font-family: 'Decovar';
  src: url('/assets/DecovarAlpha-VF.ttf')
       format('truetype');
}