---
---

@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import '/Users/fo/Code/bsgbryan.github.io/assets/helpers';

$base-vertical-whitespace: 2rem;
$base-letter-spacing:      1px;

$orange:       #DF740C;
$sweet-yellow: #FFE64D;
$pane:         #E6FFFF;
$cyan:         #6FC3DF;
$basestar:     #0C141F;
$pink:         #E83E8C;

$light-orange:       shade($orange,       lighten, 30%);
$light-sweet-yellow: shade($sweet-yellow, lighten, 30%);
$light-cyan:         shade($cyan,         lighten, 30%);
$light-basestar:     shade($basestar,     lighten, 30%);
$light-pink:         shade($pink,         lighten, 30%);

$dark-sweet-yellow: shade($sweet-yellow, darken, 30%);
$dark-pink:         shade($pink,         darken, 30%);

body {
  background-color: black;
}

img:not(.emoji) {
  margin-top:    $base-vertical-whitespace;
  margin-bottom: $base-vertical-whitespace;
  border-radius:  0.25rem;
  @include        glow('border', $cyan, 4px, 0.7);
}

hr.my-4,
hr.my-2,
#content hr {
  display: none;
}

.jumbotron h1.display-1,
#content h1,
#content h2,
#content h3,
#content h5
.card-deck .card h4.card-title {
  font-family: monospace;
}

.jumbotron .lead,
#content p,
#content li {
  font-family: monospace;
  font-size:   1.25rem;
}

.jumbotron {
  background-color: transparent;
  margin-top:       0;
  margin-bottom:    0;
  padding-bottom:   1rem;

  h1.display-1 {
    display:             flex;
    align-items:         center;
    justify-content:     center;
    font-family:         TR2N, sans-serif;
    text-transform:      uppercase;
    text-align:          center;
    line-height:           1;
    margin:                0;
    font-size:            10vw;
    width:               100%;
    height:              100%;
    transform:           translateZ(0);
    backface-visibility: hidden;
    color:              $light-cyan;
    @include             glow('text', $cyan, 8px);
  }

  p.lead {
    letter-spacing: $base-letter-spacing;
    color:          $light-basestar;
    text-align:      center;
    font-family:     monospace;
    margin-top:      2rem;
    margin-bottom:   2rem;
    font-size:       1.75rem;
  }
}

.nav {
  margin-bottom: 0;

  .nav-link {
    text-transform:           lowercase;
    letter-spacing:          $base-letter-spacing;
    color:                   $sweet-yellow;
    font-family: Decovar,     sans-serif;
    font-variation-settings: 'SKLA' 1000, 'TRMK' 1000, 'TRMA' 1000, 'TRMD' 1000;
    padding-top:              0;
    padding-bottom:           0;
    font-size:                1.75rem;
    font-weight:            900;

    @include glow('text', $dark-sweet-yellow, 1px);

    &.active {
      font-weight: 900;
      color:       $light-sweet-yellow;
    }
  }
}

.footer {

  &.container {
    margin-top:    $base-vertical-whitespace + 1rem;
    margin-bottom: $base-vertical-whitespace + 0.5rem;
  }

  a.fab {
    color: $light-basestar;
  }

  .fab:hover {
    text-decoration: none;
  }
}

.card-deck {
  margin-bottom: $base-vertical-whitespace;

  .card {
    background-color: $basestar;
    margin-top:       $base-vertical-whitespace + 1rem;
    border:            1px solid $light-cyan;

    @include glow('border', $cyan, 4px);

    p.card-text {
      color:       $pane;
      font-family:  monospace;
      font-size:    1.25rem;
    }

    h4.card-title {
      color:       $pane;
      @include      glow('text', $pane, 4px);
      font-family:  TR2N;
    }
  }

  .card-footer {
    border-top:       none;
    background-color: rgba(black, 0.15);

    small.text-muted {
      color:        black !important;
      text-transform: lowercase;
      font-weight:    900;
      @include        glow(text, lighten($basestar, 25%), 1px);
    }
  }
}

span.btn-primary:hover {
  cursor: default;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgba($orange, 0.2);
  border-color:    $light-orange;
  color:           $orange !important;
  font-family:      Decovar;
  @include          glow('border', $orange, 4px, 0.7);

  &:focus {
    box-shadow: none;
  }
}

#content,
#instructions {
  margin-top:    $base-vertical-whitespace + 1rem;
  padding:       $base-vertical-whitespace + 1rem;
  border-radius: 0.25rem;
  margin-top:    $base-vertical-whitespace + 1rem;
  border:        none;

  &.mintut.col-md-9 {
    padding:    0;
    width:   1024px;
    height:   768px;
    
    iframe {
      width:  100%;
      height: 100%;
      border: none;
      border-radius: 0.25rem;
    }
  }

  h1, h2, h3, h4, h5 {
    color:       lighten($pane, 10%);
    @include     glow('text', $pane, 4px, 0.7);
    font-family: TR2N;
    font-weight: 600;
  }
  
  h1 {
    margin-bottom: 1rem;

    & + h2 strong {
      margin-top:  0;
      font-family: Decovar;
    }

    &#experience ~ h2 strong {
      font-family: monospace;
      color:       $light-cyan;
      font-size:     2rem;
      font-weight: 100;

      @include glow(text, $cyan, 4px);
    }

    &#personal-projects ~ h2 {

      strong {
        font-family: Decovar;
        font-weight: 600;
      }

      code {
        font-family:    monospace;
        vertical-align: middle;
      }
    }

  }

  h2 {
    & > * {
      font-size: 1.5rem;
    }

    & + h3 {
      font-family:   monospace;
      margin-left:   1rem;
      margin-bottom:  .75rem;
      color:         lighten($basestar, 40%);
      text-shadow:   none;
      font-size:     1.25rem;

      em {
        color:      lighten($basestar, 45%);
        font-style: normal;
      }

      strong {
        margin-top: 1.5rem;
        display:    inline-block;
      }
    }

    code {
      font-family: TR2N;
      background-color: transparent;
      @include glow(text, $dark-pink, 1px);
    }

    strong {
      font-family:             Decovar;
      font-variation-settings: 'SKLA' 1000, 'TRMK' 1000, 'TRMA' 1000, 'TRMD' 1000;
    }
  }

  h3 {
    margin-left: 0.5rem;

    & + ul > li {
      margin:      0.5rem 0;
      font-size:   1.25rem;
      font-family: monospace;

      ul {
        list-style-type: circle;

        li {
          font-size: 1rem;
          color:     lighten($pane, 2%);
        }
      }
    }
  }

  em {
    font-style: oblique;
  }

  p,
  li,
  table {
    color: $pane;

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5 {
      margin-top: $base-vertical-whitespace;
    }
  }

  p {
    margin-left: 1rem;
  }

  abbr[title] {
    text-decoration: none;
    color: darken($pane, 5%);
  }

  a {
    color: darken($pane, 10%);
  }

  .language-sh {
    margin-top:    $base-vertical-whitespace;
    margin-bottom: $base-vertical-whitespace;
    margin-right:   calc(-3rem - 1px);
    margin-left:    calc(-3rem - 1px);

    .highlight {
      padding: 1rem 1.5rem;
    }
  }

  .language-sh > .highlight {
    background-color: $basestar;
  }

  .language-sh .highlight {
    margin-bottom: 0;
    padding:       0.5rem;
  }

  .language-sh .highlight,
  p > code.highlighter-rouge,
  li > code.highlighter-rouge {
    color:            $light-pink;
    background-color: transparent;
    @include          glow('text', $pink);

    .highlight {
      border: none;
      background-color: transparent;
    }
  }

  ol, ul {
    padding-left: 1rem;

    ul {
      padding-left: 1rem;
      list-style-type: disc;
    }
    
    & + h1 {
      margin-top: 4rem;
    }
  }
  
  #tools + table,
  #languages + table {
    width: 100%;
    margin-left: 1rem;

    td {
      width: 20%;
      font-family: monospace;
      font-size: 1rem;

      a {
        color: darken($pane, 10%);
      }
    }
  }
}

#content {
  background-color: rgba($cyan, 0.2);
  @include          glow('border', $pane, 4px, 0.7);
}

#themes {
  margin-bottom: 3rem;
  
  .btn.btn-primary {
    margin: 0.5rem;
  }
}

@media (max-width: 577px) {
  .jumbotron {
    h1.display-1 {
      font-size: 3rem;
    }
    
    p.lead {
      margin-top: 2rem;
    }
  }
    
  nav.nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  #content {
    border-radius: 0;
    padding: 2rem 1rem;
    border-top: 1px solid rgb(106, 106, 131);

    a {
      color: rgb(112, 101, 127);
    }

    .language-sh {
      margin-left:  -15px;
      margin-right: -15px;
      
      .highlight {
        padding: 0.5rem 0.25rem;
        margin-bottom: 0;
      }
    }
  }
}


@font-face { // TR2N
  font-family: 'TR2N';
  src: url('/assets/Tr2n.ttf')
       format('truetype');
}

@font-face { // Decovar
  font-family: 'Decovar';
  src: url('/assets/DecovarAlpha-VF.ttf')
       format('truetype');
}