---
layout: default
type:   MinTut
---

<div class="conatiner">
  <div class="row justify-content-center">
    <div id="content" class="col-md-9 mintut">
        {{ content }}
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="instructions" class="col-md-9">
      <h3>How it works</h3>
      <ul>
        <li>Hover the mouse at the left edge of the slide to open the slide navigator</li>
        <li>Click the left half of the slide to go back</li>
        <li>Click the right half of the slide to go forward</li>
      </ul>
    </div>
  </div>
</div>